{
  "TOKEN": "MTMwOTkyNjA3MzAwOTcwNTA1MA.GnK-Qi.26lUP5H5zZGjSx0UCEt5v0EwFV2eCkf8GVYbr8",
  "MAX_PLAYLIST_SIZE": 2,
  "PRUNING": false,
  "LOCALE": "online",
  "STAY_TIME": 30,
  "DEFAULT_VOLUME": 200
}
